/*   Mobile First   */

form {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 10px;
    
}

input {
    display:flex;
    justify-content: space-between;
}

textarea {
    display: flex;
    align-items: stretch;
    height: 200px;
}

label {
    justify-items: center;
}

button {
    margin-top: 10px;
}

.spacing {
    display: flex;
    flex-direction:column;
    margin: 10px 0px 10px 0px;
}


/*   Desktop   */


@media all and (min-width: 800px) {
    textarea {
      height: 100px;
    }
  }
